
<div th:fragment="content">
    <head>
        <title>Accueille</title>
    </head>
    <div class="layout">
        <fieldset>
            <legend>En attente</legend>
            <div th:insert="~{fragments/formateur/etatdavencementslice :: content(etatdavancement=${etatdavancementEnAttente}, statut='En attente')}"></div>
        </fieldset>
        <fieldset>
            <legend>A modifier</legend>
            <div th:insert="~{fragments/formateur/etatdavencementslice :: content(etatdavancement=${etatdavancementUpdate}, statut='A modifier')}"></div>
        </fieldset>
    </div>
</div>


