

<div th:fragment="content (etatdavancementHistHist)">
    <fieldset>
            <legend>Historique d'etat d'avancements</legend>
        <div th:if="${#lists.isEmpty(etatdavancementHist)}">
            <p>Rien a modifier</p>
        </div>
        <div class="cin_scrollable">
        <table th:if="${!#lists.isEmpty(etatdavancementHist)}">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Formateur</th>
                    <th>Filière</th>
                    <th>Matière</th>
                    <th>Statut</th>
                    <th>Type d'activite</th>
                    <th>Objectif</th>
                    <th>Descriptif</th>
                    <th>Observations</th>
                    <th>Prochaine séance</th>
            </thead>
            <tbody>
                <tr th:each="etat : ${etatdavancementHist}">
                    <input type="hidden" th:value="${etat.id}" />
                    <td th:text="${etat.emploiDuTemps.date}"></td>
                    <td th:text="${#strings.concat(etat.emploiDuTemps.heure_debut, ' - ', etat.emploiDuTemps.heure_fin)}"></td>
                    <td th:text="${etat.emploiDuTemps.nomCompletEmploye}"></td>
                    <td th:text="${etat.emploiDuTemps.matiere.filiere.nom_filiere}"></td>
                    <td th:text="${etat.emploiDuTemps.matiere.nom_matiere}"></td>
                    <td th:text="${etat.statut}"></td>
                    <td th:text="${etat.type_activite}"></td>
                    <td th:text="${etat.objectif}"></td>
                    <td th:text="${etat.descriptif}"></td>
                    <td th:text="${etat.observations}"></td>
                    <td th:text="${etat.suivant}"></td>
                </tr>
            </tbody>
        </table>

</div>
</fieldset>
    </div>

