<div th:fragment="content (etatdavancement, formateurs, filieres, matieres, statut)">
    <fieldset>
            <legend>Etats d'avancements</legend>
    <div class="mb-3 row gx-2 gy-2 align-items-center">
    <div class="col-md">
        <input type="text" id="etatSearchDate" class="form-control" placeholder="Rechercher par date..." />
    </div>
    <div class="col-md">
        <select id="etatFilterStatut" class="form-select">
            <option value="">Tous les statuts</option>
            <option th:each="s : ${statut}" th:value="${s}" th:text="${s}"></option>
        </select>
    </div>
    <div class="col-md">
        <select id="etatFilterFormateur" class="form-select">
            <option value="">Tous les formateurs</option>
            <option th:each="f : ${formateurs}" th:value="${f.id}" th:text="${f.nom + ' ' + f.prenom}"></option>
        </select>
    </div>

    <div class="col-md">
        <select id="etatFilterFiliere" class="form-select">
            <option value="">Toutes les filières</option>
            <option th:each="fl : ${filieres}" th:value="${fl.id}" th:text="${fl.nom_filiere}"></option>
        </select>
    </div>

    <div class="col-md">
        <select id="etatFilterMatiere" class="form-select">
            <option value="">Toutes les matières</option>
            <option th:each="m : ${matieres}" th:value="${m.id}" th:text="${m.nom_matiere}" th:attr="data-filiere-id=${m.filiere.id}"></option>
        </select>
    </div>
    <div class="col-md">
        <button id="exportToExcel" class="btn btn-primary">Télécharger en Excel</button>
</div>
</div>

        <div th:if="${#lists.isEmpty(etatdavancement)}">
            <p>Rien a modifier</p>
        </div>
        <div th:if="${!#lists.isEmpty(etatdavancement)}" class="scrollable">
        <table id="etatTable">
            <thead>
                <tr>
                    <th>Action</th>
                    <th>Date</th>
                    <th>Heure</th>
                    <th>Formateur</th>
                    <th>Filière</th>
                    <th>Matière</th>
                    <th>Statut</th>
                    <th>Type d'activité</th>
                    <th>Objectif</th>
                    <th>Descriptif</th>
                    <th>Observations</th>
                    <th>Prochaine séance</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="etat : ${etatdavancement}"
                th:attr="data-id=${etat.id},
                        data-statut=${etat.statut}, 
                        data-formateur-id=${etat.emploiDuTemps.employe.id}, 
                        data-filiere-id=${etat.emploiDuTemps.matiere.filiere.id}, 
                        data-matiere-id=${etat.emploiDuTemps.matiere.id}">
             
                    <td>
                        <button
                            th:class="${etat.statut == 'Rempli' || etat.statut == 'A modifier' ? 'btn btn-modt activer-btn' : 'btn activer-btn btn-secondary'}"
                            class="btn activer-btn"
                            th:attr="data-id=${etat.id}, data-statut=${etat.statut}"
                            th:text="${etat.statut == 'A modifier' ? 'Annuler modification' 
                                    : etat.statut == 'Rempli' ? 'Activer modification' 
                                    : 'En Attente'}"
                            th:disabled="${etat.statut == 'En attente' ? 'true' : 'false'}">
                        </button>

                        
                    </td>
                    <td th:text="${etat.emploiDuTemps.date}"></td>
                    <td th:text="${#strings.concat(etat.emploiDuTemps.heure_debut, ' - ', etat.emploiDuTemps.heure_fin)}"></td>
                    <td th:text="${etat.emploiDuTemps.nomCompletEmploye}"></td>
                    <td th:text="${etat.emploiDuTemps.matiere.filiere.nom_filiere}"></td>
                    <td th:text="${etat.emploiDuTemps.matiere.nom_matiere}" th:value="${etat.emploiDuTemps.matiere.code_matiere}"></td>
                    <td th:text="${etat.statut}"></td>
                    <td th:text="${etat.type_activite}"></td>
                    <td th:text="${etat.objectif}"></td>
                    <td th:text="${etat.descriptif}"></td>
                    <td th:text="${etat.observations}"></td>
                    <td th:text="${etat.suivant}"></td>
                </tr>
            </tbody>
        </table>

 </div>
</fieldset>
</div>


