<div th:fragment="content">
  <div class="container mt-4">
    <h3>Changer le mot de passe</h3>
    <div class="mb-3">
      <label class="form-label">Mot de passe actuel</label>
      <input type="password" class="form-control" id="password" placeholder="Mot de passe actuel" value="">
    </div>
    <div class="mb-3">
      <label class="form-label">Nouveau mot de passe</label>
      <input type="password" class="form-control" id="newpass" placeholder="Nouveau mot de passe">
    </div>
    <div class="mb-3">
      <label class="form-label">Confirmer le mot de passe</label>
      <input type="password" class="form-control" id="newpassconf" placeholder="Confirmer le nouveau mot de passe">
    </div>
    <button class="btn btn-primary" id="submit">Confirmer</button>
  </div>

</div>

