<div th:fragment="content">
  <head>
    <title>Accueille</title>
  </head>
  <div class="layout">
    <div class="d-flex justify-content-center align-items-center">
      <div class="position-relative d-inline-block mx-5 m-3">
        <button
          id="toggleEmployesBtn"
          class="btn btn-primary shadow-sm btn-style">
          Employés (<span th:text="${#lists.size(employes)}">0</span>)
        </button>
        <div
          id="employesList"
          class="showList position-absolute bg-white border rounded-3 shadow-lg mt-2 p-2">
          <div
            th:each="e : ${employes}"
            class="dropdown-item text-dark py-2 px-3 rounded hover-bg">
            <strong th:text="${e.nom + ' ' + e.prenom}"></strong>
            <span class="text-muted ms-1" th:text="'(' + ${e.cin} + ')'"></span>
          </div>
        </div>
      </div>

      <div class="position-relative d-inline-block mx-5">
        <button id="toggleMatieresBtn" class="btn btn-primary shadow-sm">
          Matières (<span th:text="${#lists.size(matieres)}">0</span>)
        </button>
        <div
          id="matieresList"
          class="showList position-absolute bg-white border rounded-3 shadow-lg mt-2 p-2">
          <div
            th:each="m : ${matieres}"
            class="dropdown-item text-dark py-2 px-3 rounded hover-bg">
            <strong th:text="${m.nom_matiere}"></strong>
            <span
              class="text-muted ms-1"
              th:text="'(' + ${m.filiere.nom_filiere} + ')'"></span>
          </div>
        </div>
      </div>

      <div class="position-relative d-inline-block mx-5">
        <button id="toggleFilieresBtn" class="btn btn-primary shadow-sm">
          Filières (<span th:text="${#lists.size(filieres)}">0</span>)
        </button>
        <div
          id="filieresList"
          class="showList position-absolute bg-white border rounded-3 shadow-lg mt-2 p-2">
          <div
            th:each="f : ${filieres}"
            class="dropdown-item text-dark py-2 px-3 rounded hover-bg">
            <strong th:text="${f.nom_filiere}"></strong>
            <span
              class="text-muted ms-1"
              th:text="'(' + ${f.responsable} + ')'"></span>
          </div>
        </div>
      </div>
    </div>
    <fieldset>
      <legend>Progression des Matières</legend>
      <div style="position: relative; height: auto; width: 100%; padding: 10px">
        <canvas id="progressBarChart"></canvas>
      </div>
    </fieldset>
    <fieldset>
      <legend>Progression des Matières</legend>
      <div
        id="progressChartsContainer"
        style="width: 100%; padding: 10px"></div>
    </fieldset>

    <fieldset>
      <legend>Etats d'avancements a modifier</legend>
      <div
        th:insert="~{fragments/alletatslice :: content(etatdavancement=${etatdavancementAmodifier})}"></div>
    </fieldset>
    <br />
    <fieldset>
      <legend>Etats d'avancements en attente</legend>

      <div
        th:insert="~{fragments/alletatslice :: content(etatdavancement=${etatdavancementEnAttente})}"></div>
    </fieldset>
    <!-- Add Bar Chart for Matiere Progress -->
  </div>
  <!-- Hidden div to store progress data for JavaScript -->
  <div
    id="progressDataContainer"
    th:attr="data-progress-data=${progressData}"
    style="display: none"></div>
</div>
