<div th:fragment="content">
  <fieldset>
            <legend>Employés</legend>


  <!-- Table -->
  <div th:if="${#lists.isEmpty(employes)}">
    <p>Aucun Employé</p>
  </div>
  <div class="mb-3 row gx-2 gy-2 align-items-center">
    <div class="col-md">
          <select id="filterRole" class="form-select">
              <option value="">Tous les roles</option>
              <option th:each="r : ${roles}" th:value="${r}" th:text="${r}"></option>
          </select>
    </div>
    <div class="col-md">
    <button id="openModalBtn" class="btn btn-primary mb-0">
            Ajouter Employé
    </button>
    </div>
  </div>
  <div th:if="${!#lists.isEmpty(employes)}" class="scrollable">
    <table id="employesTable">
      <thead>
        <tr>
          <th>Action</th>
          <th>Cin</th>
          <th>Nom</th>
          <th>Prenom</th>
          <th>Adresse</th>
          <th>Telephone</th>
          <th>Email</th>
          <th>Date Embauche</th>
          <th>Role</th>
          <th>Specialité</th>
          <th>Niveau d'étude</th>
          <th>Salaire</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="employe : ${employes}" th:attr="data-id=${employe.id}">
          <td>
            <button class="btn btn-mod btn-sm modify-btn">Modifier</button>
            <button class="btn btn-danger btn-sm delete-btn">Supprimer</button>
          </td>
          <td th:text="${employe.cin}"></td>
          <td th:text="${employe.nom}"></td>
          <td th:text="${employe.prenom}"></td>
          <td th:text="${employe.adresse}"></td>
          <td th:text="${employe.telephone}"></td>
          <td th:text="${employe.email}"></td>
          <td th:text="${employe.date_embauche}"></td>
          <td th:text="${employe.role}"></td>
          <td th:text="${employe.specialite}"></td>
          <td th:text="${employe.niveau_etude}"></td>
          <td th:text="${employe.salaire}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Modal -->
  <div id="employeModal" class="modal" style="display: none">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ajouter un employé</h4>
        <span class="close" data-dismiss="modal" style="position: right; cursor: pointer">&times;</span>
      </div>
      <form id="employeForm" data-mode="add">
        <input type="hidden" name="id" />
        <div class="mb-2">
          <label>Cin:</label>
          <input type="text" name="cin" class="form-control" required />
        </div>

        <div class="mb-2">
          <label>Nom:</label>
          <input type="text" name="nom" class="form-control" required />
        </div>

        <div class="mb-2">
          <label>Prenom:</label>
          <input type="text" name="prenom" class="form-control" required />
        </div>

        <div class="mb-2">
          <label>Adresse:</label>
          <input type="text" name="adresse" class="form-control" required />
        </div>
        <div class="mb-2">
          <label>Telephone:</label>
          <input type="text"  name="telephone" class="form-control" required />
        </div>
        <div class="mb-2">
          <label>Email:</label>
          <input type="email" name="email" class="form-select" required>
          </select>
        </div>

        <div class="mb-2">
          <label>Date d'embauche:</label>
          <input type="date" name="date_embauche" class="form-select" required>
          </select>
        </div>
        <div class="mb-2">
          <label>Role:</label>
          <select name="role" class="form-select" required>
            <option value="Direction">Direction</option>
            <option value="Secretariat">Secrétariat</option>
            <option value="Formateur_Vacataire">Formateur_Vacataire</option>
            <option value="Formateur_Permanent">Formateur_Permanent</option>
            <option value="Support et technique">Support et téchnique</option>
          </select>
        </div>
        <div class="mb-2">
          <label>Spécialité:</label>
          <input type="text"  name="specialite" class="form-control" required />
        </div>

        <div class="mb-2">
          <label>Niveau d'étude:</label>
          <input type="text"  name="niveau_etude" class="form-control" required />
        </div>
  
        <div class="mb-2">
          <label>Salaire:</label>
          <input type="number" step="0.01" name="salaire" class="form-control" required />
        </div>
        
        <button type="submit" class="btn btn-success mt-2" id="submitBtn">
          Enregistrer
        </button>
      </form>
    </div>
  </div>
</fieldset>
</div>