<div th:fragment="content">
  <fieldset>
            <legend>Utilisateurs</legend>
 

  <!-- Table -->
  <div th:if="${#lists.isEmpty(utilisateurs)}">
    <p>Aucun utilisateur</p>
  </div>
  <div class="mb-3 row gx-2 gy-2 align-items-center">
    <div class="col-md">
          <select id="filterRole" class="form-select">
              <option value="">Tous les roles</option>
              <option th:each="r : ${roles}" th:value="${r}" th:text="${r}"></option>
          </select>
    </div>
    <div class="col-md">
    <button id="openModalBtn" class="btn btn-primary mb-0">
            Ajouter utilisateur
    </button>
    </div>
  </div>
  <div th:if="${!#lists.isEmpty(utilisateurs)}" class="scrollable">
    <table id="usersTable">
      <thead>
        <tr>
          <th>Action</th>
          <th>Nom d'utilisateur</th>
          <th>Mot de pass</th>
          <th>Role</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="utilisateur : ${utilisateurs}" th:attr="data-id=${utilisateur.id}">
          <td>
            <button class="btn btn-mod btn-sm modify-btn">Modifier</button>
            <button class="btn btn-danger btn-sm delete-btn">Supprimer</button>
          </td>
          <td th:text="${utilisateur.username}"></td>
          <td th:value="${utilisateur.password}">**********</td>
          <td th:text="${utilisateur.role}"></td>
        </tr>
      </tbody>
    </table>
  </div>
  <!-- Modal -->
  <div id="usersModal" class="modal" style="display: none">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Ajouter un utilisateur</h4>
        <span class="close" data-dismiss="modal" style="position: right; cursor: pointer">&times;</span>
      </div>
      <form id="usersForm" data-mode="add">
        <input type="hidden" name="id" />
        <div class="mb-2">
          <label>Nom d'utilisateur:</label>
          <input type="text" name="username" class="form-control" required />
        </div>
        <div class="mb-2">
          <label>Mot de pass:</label>
          <input type="password" name="password" class="form-control" required />
        </div>
        <div class="mb-2">
          <label>Role:</label>
          <select name="role" class="form-select" required>
            <option value="Direction">Diréction</option>
            <option value="Secretariat">Secrétariat</option>
            <option value="Formateur_Vacataire">Formateur_Vacataire</option>
            <option value="Formateur_Permanent">Formateur_Permanent</option>
            <option value="Support et technique">Support et technique</option>
          </select>
        </div>
        <button type="submit" class="btn btn-success mt-2" id="submitBtn">
          Enregistrer
        </button>
      </form>
    </div>
  </div>
</fieldset>
</div>