<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Login</title>
        <link rel="icon" type="image/x-icon" href="/favicon.ico">

    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body id="bodyLogin">
    <section>
      <form action="/login" method="post" id="loginForm">
        <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
        <h1>Authentification</h1>
        <div class="dialog-row">
          <label
            th:if="${param.error}"
            th:text="${session['SPRING_SECURITY_LAST_EXCEPTION'].message}"
            class="text-center redText"></label>
        </div>
        <div class="loginInputbox">
          <ion-icon name="email-outline"></ion-icon>
          <input name="username" id="username" type="name" required />
          <label for="">Nom d'utilisateur</label>
        </div>
        <div class="loginInputbox">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input name="password" type="password" id="password" required />
          <label for="">Mot de passe</label>
        </div>
        <button>Se connecter</button>
      </form>
    </section>
  </body>
</html>
