<div th:fragment="content">
  <head>
    <title>Accueille</title>
  </head>
  <div class="layout">
    <fieldset>
      <legend>Progression des Matières</legend>
      <div style="position: relative; height: auto; width: 100%; padding: 10px">
        <canvas id="progressBarChart"></canvas>
      </div>
    </fieldset>
    <fieldset>
      <legend>Progression des Matières</legend>
      <div
        id="progressChartsContainer"
        style="width: 100%; padding: 10px"></div>
    </fieldset>
    <fieldset>
      <legend>Etats d'avancements a modifier</legend>
      <div
        th:insert="~{fragments/secretariat/alletatslice :: content(etatdavancement=${etatdavancementAmodifier})}"></div>
    </fieldset>
    <br />
    <fieldset>
      <legend>Etats d'avancements en attente</legend>
      <div
        th:insert="~{fragments/secretariat/alletatslice :: content(etatdavancement=${etatdavancementEnAttente})}"></div>
    </fieldset>

    <!-- Hidden div to store progress data for JavaScript -->
    <div
      id="progressDataContainer"
      th:attr="data-progress-data=${progressData}"
      style="display: none"></div>
    </div>
</div>
