
<div th:fragment="sidebar" class="sidebar">
        <div class="sidebar d-flex flex-column">
            <ul class="nav flex-column  w-100">
                <p id='nom'><span th:text="${employeName}">Nom Employé</span></p>
                <hr style="height:2px;border-width:0;color:white;background-color:white;margin: 0px;">
                <li><button class="btn btn-link" onclick="loadContent('accueilsecretariat')">Accueil</button></li>
                <li><button class="btn btn-link" onclick="loadContent('etatsdavancement')">Etats d'avancements</button></li>
                <li><button class="btn btn-link" onclick="loadContent('emplois')" >Emplois du temps</button></li>
                <li><button class="btn btn-link" onclick="loadContent('changepass')" style="margin-bottom: 0px;">Modifier mot de passe</button></li>
            </ul>
            <div  class="mt-auto">
                <a href="/logout" class="btn btn-danger w-100" style="margin-top: auto;">
                🔒 Se déconnecter
                </a>
            </div>  
        </div>
        
</div>
    

